
.App{
  .header{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #ddd;
    margin:2rem 0;
    align-items:center;
  

    .logo{
      max-width:20rem;
      display:flex;
      align-items: center;
      margin: 1.3rem 2rem 1rem 2rem;

      img{
        border-left:1px solid black;
        padding:0 2rem;
        margin:0 2.8rem;
      }
    }

    .iconTray{
      display:flex;
      width:21.5rem;
      justify-content: space-between;
      margin:0 3rem 1rem 0;
      i{
        margin:0 2rem 0 2rem;
        font-weight: lighter;
      }
    }

  }
  
}