
.App{
  .header{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #ddd;
    align-items:center;

    .logo{
      max-width:15rem;
      display:flex;
      align-items: center;
    }

  }
  
}