
.UserPost{
    max-width:60rem;
    margin:5rem auto;
    border:1px solid #ddd;
    border-radius:.5rem;
    header{
        display: flex;
        align-items:center;
        padding:2rem;
        
        img{
            width:3rem;
            border-radius: 50%;
        }
        p{
            font-size: 1.8rem;
            padding:1rem;
            font-weight:bolder;
        }
    }
    .postContent{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        .iconTray{
            i{
                margin:1rem;
            }
            .fa-comment{
                transform: rotateY(180deg)
            }
        }
        .likes{
            font-size:1.8rem;
            margin:0 1rem;
        }
    }
}